@page "/fleet/"
@using FleetManagement.Blazor.Responses
@using FleetManagement.Blazor.Filters

<Heading Margin="Margin.Is2" Display="Display.Inline">Fleet</Heading>


<Bar Mode="BarMode.Horizontal"
     Breakpoint="Breakpoint.None"
     ThemeContrast="ThemeContrast.None"
     Visible="@FilterIsVisible"
     Padding="Padding.Is0"
     Margin="Margin.Is2.FromBottom">

    <BarBrand>
        <BarLink Clicked="@(() => FilterIsVisible = !FilterIsVisible)">
            <BarItem>
                <BarIcon IconName="FontAwesomeIcons.Filter" />
            </BarItem>
            Filter
        </BarLink>
    </BarBrand>

    <BarMenu>
        <BarStart>
            <BarItem>
                <Row Gutter="(32, 16)">
                    <Column ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnMobile">
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>Brand</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="Tesla"
                                          @bind-Text="@MotorVehicleFilter.Brand" />
                            </Addon>
                        </Addons>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnMobile">
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>Model</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="Model 3"
                                          @bind-Text="@MotorVehicleFilter.Model" />
                            </Addon>
                        </Addons>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnMobile">
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>VIN</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="A VIN number"
                                          @bind-Text="@MotorVehicleFilter.ChassisNumber" />
                            </Addon>
                        </Addons>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnMobile">
                        <Field Margin="Margin.Is4.FromLeft.OnDesktop.IsAuto">
                            <Select TValue="ActivityFilterSelect" @bind-SelectedValue="@MotorVehicleFilter.Operational">
                                <SelectItem TValue="ActivityFilterSelect" Value="ActivityFilterSelect.Active">Operational</SelectItem>
                                <SelectItem TValue="ActivityFilterSelect" Value="ActivityFilterSelect.Inactive">Out of service</SelectItem>
                                <SelectItem TValue="ActivityFilterSelect" Value="ActivityFilterSelect.All">All</SelectItem>
                            </Select>
                        </Field>
                    </Column>
                </Row>
            </BarItem>
        </BarStart>
        <BarEnd Margin="Margin.Is2.FromTop">
            <BarItem>
                <Buttons Margin="Margin.IsAuto.OnDesktop.Is2.OnMobile">
                    <Button Color="Color.Primary"
                            Clicked="@ApplyFilter"
                            Disabled="@DataLoading"
                            Loading="@DataLoading">
                        Apply filter
                    </Button>
                    <Button Color="Color.Secondary"
                            Clicked="@ClearFilter"
                            Disabled="@DataLoading">
                        Clear filter
                    </Button>
                </Buttons>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

<DataGrid TItem="MotorVehicleResponse"
          Data="@MotorVehicleItems"
          ReadData="@ReadData"
          TotalItems="@MotorVehiclesTotal"
          PageSize="@PageSize"
          CurrentPage="@Page"
          ShowPager="true"
          RowClicked="@RowClicked">
    <ChildContent>
        <DataGridColumn Direction="@ChassisNumberSortDirection" TItem="MotorVehicleResponse" Field="@nameof(MotorVehicleResponse.ChassisNumber)" Caption="VIN"></DataGridColumn>
        <DataGridColumn Direction="@BrandSortDirection" TItem="MotorVehicleResponse" Field="@nameof(MotorVehicleResponse.Brand)" Caption="Brand"></DataGridColumn>
        <DataGridColumn Direction="@ModelSortDirection" TItem="MotorVehicleResponse" Field="@nameof(MotorVehicleResponse.Model)" Caption="Model"></DataGridColumn>
        <DataGridColumn TItem="MotorVehicleResponse" Field="@nameof(MotorVehicleResponse.LicensePlateIdentifier)" Sortable="false" Caption="Active plate">
            <DisplayTemplate>
                @if (context.LicensePlateIdentifier is not null)
                {
                    <Button Color="Color.Danger" Outline="true" ReadOnly="true" Clicked="@((identifier) => LicensePlateHistoryPage(context.LicensePlateIdentifier))">@context.LicensePlateIdentifier</Button>
                }
                else
                {
                    <Paragraph>-</Paragraph>
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridCheckColumn TItem="MotorVehicleResponse" Field="@nameof(MotorVehicleResponse.Operational)" Sortable="false" Caption="Operational">
            <DisplayTemplate>
                <Check TValue="bool" Checked="context.Operational" Disabled="true" ReadOnly="true" />
            </DisplayTemplate>
        </DataGridCheckColumn>
    </ChildContent>
    <EmptyTemplate>
        <Paragraph>No items to be displayed.</Paragraph>
    </EmptyTemplate>
    <LoadingTemplate>
        <Loader />
    </LoadingTemplate>
</DataGrid>

