@page "/fleet/details/{chassisNumber}"

<Heading Size="HeadingSize.Is1">Motor vehicle details</Heading>
<Button Clicked="@ReturnToFleet">
    <Blazorise.Icons.FontAwesome.Icon Name="FontAwesomeIcons.Backward"></Blazorise.Icons.FontAwesome.Icon>
</Button>
<Divider />

<Loader Loading="@IsLoading">
    <Container Fluid="true">
        <SnackbarStack @ref="SnackbarStack" Location="SnackbarStackLocation.Center" Interval="10000" Multiline="true" />
        <Fields>
            <Field ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnTablet">
                <FieldLabel>Brand</FieldLabel>
                <TextEdit @bind-Text="@MotorVehicleDetailed.Brand"
                          Disabled="@Disabled" />
            </Field>
            <Field ColumnSize="ColumnSize.Is3.OnDesktop.IsFull.OnTablet">
                <FieldLabel>Model</FieldLabel>
                <TextEdit @bind-Text="@MotorVehicleDetailed.Model"
                          Disabled="@Disabled" />
            </Field>
            <Field ColumnSize="ColumnSize.Is5.OnDesktop.IsFull.OnTablet">
                <FieldLabel>VIN</FieldLabel>
                <TextEdit Text="@MotorVehicleDetailed.ChassisNumber"
                          Disabled="true" />
            </Field>
            <Field ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.OnTablet">
                <FieldLabel>Body</FieldLabel>
                <Select TValue="int"
                        @bind-SelectedValue="@MotorVehicleDetailed.BodyType"
                        Disabled="@Disabled">
                    <SelectItem Value="0">Sedan</SelectItem>
                    <SelectItem Value="1">SUV</SelectItem>
                    <SelectItem Value="2">Hatchback</SelectItem>
                    <SelectItem Value="3">Roadster</SelectItem>
                    <SelectItem Value="4">Pickup</SelectItem>
                    <SelectItem Value="5">Van</SelectItem>
                    <SelectItem Value="6">Coupe</SelectItem>
                    <SelectItem Value="7">Truck</SelectItem>
                    <SelectItem Value="8">Other</SelectItem>
                </Select>
            </Field>
            <Field ColumnSize="ColumnSize.Is4.OnDesktop.IsFull.OnTablet">
                <FieldLabel>Propulsion</FieldLabel>
                <Select TValue="int"
                        @bind-SelectedValue="@MotorVehicleDetailed.PropulsionType"
                        Disabled="@Disabled">
                    <SelectItem Value="0">Gasoline</SelectItem>
                    <SelectItem Value="1">Diesel</SelectItem>
                    <SelectItem Value="2">Electric</SelectItem>
                    <SelectItem Value="3">Hybrid Gasoline</SelectItem>
                    <SelectItem Value="4">Hybrid Diesel</SelectItem>
                    <SelectItem Value="5">Other</SelectItem>
                </Select>
            </Field>
            <Field ColumnSize="ColumnSize.Is2.OnDesktop.IsFull.OnTablet" Margin="Margin
                                                                                 .Is4.FromLeft.OnDesktop
                                                                                 .IsAuto">
                <Switch TValue="bool"
                        @bind-Checked="@MotorVehicleDetailed.Operational"
                        Disabled="@Disabled"
                        Size="Size.Medium">Operational</Switch>
            </Field>
            <Field Margin="Margin.IsAuto.OnDesktop.Is3.OnY.OnMobile">
                <Buttons>
                    <Button Clicked="@ToggleEditMode"
                            Color="Color.Info">
                        Edit
                    </Button>
                    @if (UpdateButtonShown)
                    {
                    <Button Clicked="@Submit"
                            Type="ButtonType.Submit"
                            PreventDefaultOnSubmit="true"
                            Color="Color.Warning">
                        Update
                    </Button>
                    }
                </Buttons>
            </Field>
        </Fields>

        <Divider />

    </Container>
</Loader>

